.fundoinicio {
	background: rgba(0,0,0,0.8);
	background-image: url(../img/fundonetflix.jpg);
	width: 100%;

}


.logoinicio{
	width: 33%;
	margin-top: -3%
}

.botaoentrar{
	border-radius: 12%;
	padding: 1%;
	padding-left: 3%;
	padding-right: 3%;
	background-color: #E50914;
	color: white;
	border:none;
	margin-left: 80%;
	margin-top: 3%;
}

.texto1{
	font-weight: 700;
    font-size: 80px;
    color: white;
    text-shadow: 1px 1px #000000;
    text-align: center;
    margin-top: 7%;
}

.texto2{
	font-weight: 400;
    font-size: 30px;
    color: white;
    text-align: center;	
    margin-top: 1%
}

.botaomesgratis{
	border-radius: 6px;	
	background-color: #E50914;
	color: white;
	border:none;
	font-size: 30px;
	padding: 4%;
	padding-left: 8%;
	padding-right: 8%;
	margin-top: 3%;
}